<!--The content below is only a placeholder and can be replaced.-->

<h2>DOJO MAIL</h2>
<hr><hr><hr>
<table>
  <tr>
    <th>from</th>
    <th>priority</th>
    <th>subject</th>
    <th>content</th>
  </tr>
  <tr *ngFor="let message of emails">
    <td>{{ message.from | lowercase }}</td>
    <td *ngIf="message.priority">High!</td>
    <td *ngIf="!message.priority">Normal</td>
    <td>{{ message.from }}</td>
    <td>{{ message.from }}</td>    
  </tr>
</table>

<hr><hr><hr>

<table>
<tr>
  <td *ngFor='let idx of bars'>
    <div [ngStyle]="{'background-color': colorChoice, 'display': 'inline-block', 'width': '20px', 'height': '40px'}">
    </div>
  </td>
</table>