<!--The content below is only a placeholder and can be replaced.-->

<h2>DOJO MAIL</h2>
<hr><hr><hr>
<table>
  <tr>
    <th>from</th>
    <th>priority</th>
    <th>subject</th>
    <th>content</th>
  </tr>
  <tr *ngFor="let message of emails">
    <td>{{ message.from | lowercase }}</td>
    <td *ngIf="message.priority">High!</td>
    <td *ngIf="!message.priority">Normal</td>
    <td>{{ message.subject }}</td>
    <td>{{ message.content }}</td>    
  </tr>
</table>

<hr><hr><hr>
<div></div>
<hr><hr><hr>
<table [ngStyle]="{'border-style': 'solid', 'border': '4px solid black'}">
  <tr>
    <td *ngFor='let idx of bars'>
      <div [ngStyle]="{'background-color': colorChoice(), 'display': 'inline-block', 'width': '35px', 'height': '180px'}">
      </div>
    </td>
  </tr>
</table>

<hr><hr><hr>
<div></div>
<hr><hr><hr>

<form (submit)="updateMethod()">
  <input type='text' name='name' [(ngModel)]='user.name'>
  <input type='text' name='email' [(ngModel)]='user.email'>
  <input type='submit'>
</form>
<hr><hr><hr>
<div></div>
<hr><hr><hr>
